<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div><a href="https://pvsnpexchange.wordpress.com/" class="navbar-brand">
                PVsNPExchange</a> </div>

        <ul class="navbar-nav">
            <!-- <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/pvsnpexchange"
                    class="nav-link">Home</a></li> -->
            <li><a routerLink="/welcome/pvsnpexchange" class="nav-link">Home</a></li>
            <li><a routerLink="/todos" class="nav-link">Todos</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <!-- <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login"
                    class="nav-link">Login</a></li>  -->
            <li><a routerLink="/login" class="nav-link">Login</a>
            </li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>

</header>